* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/***********************************
 *  Parents div's of elements
 * *********************************/
.kanjiData{
	display 		: inline-block;
	border 			: .1em solid grey;
	width			: 15em;
	height			: 17em;
	margin-top		: 1em;
	margin-right	: 1em;
	
	vertical-align 	: text-top;
	
	position 		: relative;
}

.kanaLight{
	
}

.kanaMedium{
	display 		: inline-block;
	border 			: .1em solid grey;
	width			: 8em;
	height			: 5em;
	
	vertical-align 	: text-top;
	
	position 		: relative;
}

.wordData{
	
}

/***********************************
 *  Actual div's of elements
 * *********************************/
.kanjiElement{
	float 			: left;
	font-size 		: 5em;
	color  			: orange;
	padding-top		: .5em;
}

.kanaElement{
	float 			: left;
	font-size 		: 2.7em;
	color  			: purple;
	padding-top		: .3em;
	padding-left	: .2em;
	letter-spacing	: -0.2em;
}

.wordElement{
	
}

/***********************************
 *  Side data of elements
 * *********************************/
.kanjiTitles{
	
	font-size		: .8em;
}

.kanjiRightSide{
	display 		: inline-block
	vertical-align	: super;

	position		: absolute;
/*	top				: -1em;*/
	left			: 6em;
}

.kanaRightSide{
	display 		: inline-block
	vertical-align	: super;
	position		: absolute;
	left			: 5em;
}

.yomiListDiv{
	margin-top		: 1em;
}

.strokesDiv{
	position 		: absolute;
	top				: 6em;
	left			: 1em;
}

.strokes{
	display 		: block;
	width 			: 50%;
	margin			: 0 auto;
	font-size		: 2em;
}

.romaji{
	font-size		: x-small;	
}

.yomi{
	font-size		: 1.5em;
}

.yomiList{
	margin-left		: 2em;
}


.yomiList > li{
	display 		: inline-block;
}

