* {
   margin: 0px;
   padding: 0px;
}

table{
	border-collapse	: collapse;
	
}


header{
	background-color 	: green;
}

footer{
	background-color	: green;
	height				: 5em;
}

progress {
	width: 100px;
	height: 10px;
	display: inline-block;
	/* Important Thing */
	-webkit-appearance: none;
	/*border: none;*/
	border: 1.5px;
	border-color:grey;
	border-style:solid;
	border-radius: 2em;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: white;
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
	border-radius: 1em;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
}

.word{
	font-size		: 4em;
	text-align		: center;
	margin-bottom	: 0.5em;
	padding-top		: 15px;
	/*border-style	: solid;
	border-width	: 3px;
	border-color	: red;*/
	transition		: 0.5s ease;
}


.inline{
	display : inline-block;
}

.elt_stat{
	margin-right 	: 2em;
	margin-bottom	: 1em;
}

.character{
	font-size: 3em;
}


ul #navbar-right{
	
}

/* For alerts*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}